name: "Schedule - Scan Images"
on: # yamllint disable-line rule:truthy
  schedule:
    - cron: "0 12 * * 1"
  workflow_dispatch:
# yamllint disable rule:line-length
jobs:
  scan:
    name: Trivy
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/sovereigncloudstack/cso-builder:1.1.34
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.github_token }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Fixup git permissions
        # https://github.com/actions/checkout/issues/766
        shell: bash
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - name: Verify Containers
        env:
          TRIVY_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
          TRIVY_USERNAME: ${{ github.actor }}
        run: make verify-container-images
